<!DOCTYPE html>
<html>
    <head>
        <title>Envoie Formulaire</title>
        <meta charset="UTF8">
        <meta initial-scale="1.0">
        <link rel="icon" href="favicon.ico">
        <link href="view/css/main.css" rel="stylesheet">
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </head>
    <body>
    <h1>Formulaire bien envoyé !</h1>
    <p>Merci pour votre inscription !</p>
    <div class="tenor-gif-embed" data-postid="11983343" data-share-method="host" data-width="50%" data-aspect-ratio="1.7777777777777777"><a href="https://tenor.com/view/merci-beaucoup-merci-cimer-gif-11983343">MERCI BEAUCOUP DU FOND DU COEUR GIF</a> from <a href="https://tenor.com/search/mercibeaucoup-gifs">Mercibeaucoup GIFs</a></div>
    </body>
</html>